.rooms.clearfix
    .rooms-list.pull-left
        %h1 Belvedere Hotel - Rooms &amp; Suites
        .wrapper
            - @rooms.each do |room|
                %h2= room.title
                .post= room.description.html_safe
    .image-gallery.pull-left
        = image_tag "bg1.jpg", size: "600x380"
