.rooms
    %h1 Belvedere Hotel - Rooms &amp; Suites
    .wrapper
        .posts
            .scrollable
                - @rooms.each do |room|
                    %h2= room.title
                    .post= sanitize(room.description, :tags => []).truncate(1000)
                    %details.date= room.created_at
                    %p.show= link_to 'Show', room
