.articles
    %h1= @article.title
    .wrapper
        .posts
            .scrollable
                .post= sanitize(@article.description)
                %details.date= @article.created_at
                %p.show-article= link_to 'Back', articles_path
