#noscript
    .text-wrap
        %p= t('shared.noscript.description')
        %p
            = t('shared.noscript.show')
            = link_to t('shared.noscript.link_text'), t('shared.noscript.link'), target: '_blank'
            &#46;
