#share-links.clearfix.affix{data: {spy: 'affix'}}
    = link_to 'Facebook', '', class: 'social-media fa-facebook pull-right'
    = link_to 'Twitter', '', class: 'social-media fa-twitter pull-right'
    = link_to 'Google+', '', class: 'social-media fa-google-plus pull-right'
    = link_to 'LinkedIn', '', class: 'social-media fa-linkedin pull-right'
