#share-links.clearfix.affix{data: {spy: 'affix'}}
    = link_to 'Facebook', 'http://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://www.belvederehotel.gr&p[images][0]=http://belvedere-hotel.herokuapp.com/assets/bg1-cb9739e15063ef81153c2b4071698160.jpg&p[title]=Hotel%20Belvedere&p[summary]=', target: '_blank', class: 'social-media fa-facebook pull-right'
    = link_to 'Twitter', 'http://twitter.com/home?status=Hotel%20Belvedere%20-%20http://www.belvederehotel.gr', target: '_blank', class: 'social-media fa-twitter pull-right'
    = link_to 'Google+', 'https://plus.google.com/share?url=http://www.belvederehotel.gr', target: '_blank', class: 'social-media fa-google-plus pull-right'
    = link_to 'LinkedIn', 'http://www.linkedin.com/shareArticle?mini=true&url=http://www.belvederehotel.gr&title=Hotel%20Belvedere&summary=&source=', target: '_blank', class: 'social-media fa-linkedin pull-right'
