.about
    .content
        .scrollable
            %h1 Hotel Belvedere
            %h2.title Address
            %h2 Axladies Beach, Skiathos
            %h2.title Post Code
            %h2 37002
            %h2.title Telephone
            %h2 (+30)2427021490
            %h2.title Telephone (Off Season)
            %h2 (+30)2431055184
            %h2.title Fax
            %h2 (+30)2427021409
            %h2.title Email
            %h2 info@hotelbelvedere.gr