- title t('location.title')
#noscript
    .text-wrap
        %p
            In order for this section of the site to operate smoothly, it is necessary
            that you enable JavaScript.
        %p
            Here are the
            = link_to 'instructions on how to enable Javascript on your browser', 'http://www.enable-javascript.com/', target: '_blank'
            &#46;
#map
