.photo-gallery
    - if !@gallery.description.blank?
        .title
            %h1= !@gallery.blank? ? @gallery.title : 'Photo Gallery'
        .wrapper
            .content
                .scrollable
                    .desc= simple_format(@gallery.description).html_safe
