.photo-gallery
    .title
        %h1= !@gallery.blank? ? @gallery.title : 'Photo Gallery'
    - if !@gallery.description.blank?
        .wrapper
            .content
                .scrollable
                    .desc= simple_format(@gallery.description).html_safe if !@gallery.blank?
