- title t('gallery.title')
.photo-gallery
    .page-wrap.pull-left
        = render 'shared/noscript'
        - if !@gallery.description.blank?
            .title
                %h1= !@gallery.blank? ? @gallery.title : t('gallery.title')
            .wrapper
                .content
                    .scrollable
                        .desc= simple_format(@gallery.description).html_safe
