.photo-gallery
    .title
        %h1= !@gallery.blank? ? @gallery.title : 'Photo Gallery'
    .wrapper
        .content
            .scrollable
                .desc= sanitize(@gallery.description) if !@gallery.blank?
