.about {
    height: auto;
    min-height: 100%;
    max-height: 100%;
    display: table-cell;
    background-color: rgba(245, 206, 146, .40);
    padding: 50px;
    overflow: hidden;

    .wrapper {
        position: relative;
        width: 370px;
        height: 100%;
        min-height: 370px;
        max-height: 570px;
        background: #927f6d;
        background-color: rgba(146, 127, 109, .90);
        box-shadow: rgba(0,0,0,1) 2px 2px 10px;
        border-radius: 20px;
    }

    .content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 35px 40px 35px 50px;
        word-wrap: break-word;
        overflow: hidden;
        
        .scrollable {
            height: 100%;
            overflow: auto;
        }

        h1 {
            font-family: 'Century Gothic';
            font-weight: bold;
            font-size: 25px;
            line-height: 25px;
            margin: 0;
            padding-bottom: 15px;
        }

        h2 {
            font-family: 'Century Gothic';
            color: #000;
            font-weight: bold;
            font-size: 18px;
            line-height: 18px;
            margin: 0;
            padding-bottom: 5px;

            &.title {
                color: #e99924;
                font-weight: normal;
                padding-top: 20px;
            }
        }
    }
}
