.about {
    height: auto;
    min-height: 100%;
    max-height: 100%;
    display: table-cell;
    background-color: rgba(245, 226, 146, .2);
    padding: 50px;
    overflow: hidden;

    .wrapper {
        position: relative;
        width: 370px;
        height: 100%;
        min-height: 370px;
        max-height: 570px;
        background: #927f6d;
        background-color: rgba(146, 127, 109, .9);
        box-shadow: 3px 3px 0 rgba(48, 35, 21, .8);
        border-radius: 20px;
    }

    .content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 35px 40px 35px 50px;
        word-wrap: break-word;
        overflow: hidden;

        .scrollable {
            height: 100%;
            overflow: auto;
        }

        h1 {
            font-family: 'Century Gothic', verdana, arial, helvetica, sans-serif;
            font-weight: bold;
            font-size: 25px;
            line-height: 25px;
            margin: 0;
            padding-bottom: 15px;
        }

        h2 {
            font-family: 'Century Gothic', verdana, arial, helvetica, sans-serif;
            color: #000;
            font-weight: bold;
            font-size: 18px;
            line-height: 18px;
            margin: 0;
            padding-bottom: 5px;

            &.title {
                color: #e99924;
                font-weight: normal;
                padding-top: 20px;
            }
        }
    }
}
