.contact {
    background-color: rgba(245, 226, 146, .2);
    background-image: image-url('striped_bg.png');
    background-repeat: repeat;
    background-size: 6px 6px;

    .formwrapper {
        position: relative;
        width: 500px;
        height: 100%;
        min-height: 460px;
        max-height: 500px;
        background: #927f6d;
        background-color: rgba(146, 127, 109, .9);
        box-shadow: 3px 3px 0 rgba(48, 35, 21, .8);
        border-radius: 6px;
        float:left;

        .contactform {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 20px 35px;
            word-wrap: break-word;
            overflow: hidden;

            .scrollable {
                height: 100%;
                overflow: auto;

                h1 {
                font-weight: bold;
                font-size: 25px;
                color: #5f0015;
                line-height: 25px;
                text-shadow: none;
                margin: 0;
                padding-bottom: 15px;
                }

                .feedback-input {
                    color:#3c3c3c;
                    font-family: Helvetica, Arial, sans-serif;
                    font-weight:500;
                    font-size: 18px;
                    border-radius: 0;
                    line-height: 22px;
                    background-color: #fbfbfb;
                    padding: 13px 0px 13px 42px;
                    margin-bottom: 10px;
                    width :80%;
                    border: 3px solid rgba(0,0,0,0);
                }

                .feedback-input:focus{
                    background: #fff;
                    box-shadow: 0;
                    border: 3px solid #E99924;
                    color: #3498db;
                    outline: none;
                    padding: 13px 0px 13px 42px;
                }

                .focused{
                    color:#30aed6;
                    border:#30aed6 solid 3px;
                }

                .name, .name:focus {
                    background-image: url('name.svg');
                }

                .email, .email:focus {
                    background-image: url('email.svg');
                }

                .comment, .comment:focus {
                    background-image: url('comment.svg');
                    resize: vertical;
                }

                .name, .name:focus, .email, .email:focus, .comment, .comment:focus{
                    background-size: 30px 30px;
                    background-position: 11px 8px;
                    background-repeat: no-repeat;
                }

                textarea {
                    height: 125px;
                }

                .send-button{
                    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
                    float:left;
                    width: 50%;
                    border: #fbfbfb solid 4px;
                    cursor:pointer;
                    background-color: #E99924;
                    color:white;
                    font-size:24px;
                    padding-top:22px;
                    padding-bottom:22px;
                    transition: all 0.3s;
                    margin-top:-4px;
                    font-weight:700;
                }

                .send-button:hover{
                    background-color: rgba(48, 35, 21, .8);
                    color: #E99924;
                }

                .submit:hover {
                    color: #3498db;
                }

                .ease {
                    width: 0px;
                    height: 74px;
                    background-color: #fbfbfb;
                    transition: .3s ease;
                }

                .submit:hover .ease{
                      width:100%;
                      background-color:white;
                }
            }
        }
    }
}
