#page-body .home {
    background-color: transparent;

    .formwrapper {
        position: relative;
        width: 500px;
        height: 100%;
        min-height: 415px;
        max-height: 500px;
        background: #927f6d;
        background-color: rgba(146, 127, 109, .9);
        box-shadow: 3px 3px 0 rgba(48, 35, 21, .8);
        border-radius: 6px;
    }

    .reservationform {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 35px 45px;
        word-wrap: break-word;
        overflow: hidden;

        .scrollable {
            height: 100%;
            overflow: auto;
        }

        h1 {
            font-weight: bold;
            color: #5f0015;
            line-height: 25px;
            text-shadow: 2px 2px rgba(119, 68, 51, .7);
            margin: 0;
            padding-bottom: 25px;
        }

        input[type=text],
        input[type=email],
        input[type=tel],
        input[type=number],
        textarea {
            width: 99%;
            color: #3c3c3c;
            background-color: #fff;
            border: 2px solid #fff;
            border-radius: 0;
            padding: 10px 5px 10px 38px;
            margin-bottom: 10px;
            box-shadow: 2px 2px 0 rgba(0, 0, 0, .4);

            &:focus{
                color: #3498db;
                outline: none;
                background-color: #fbfbdb;
                border: 2px solid #e99924;
                padding: 10px 5px 10px 38px;
                box-shadow: 2px 2px 0 rgba(0, 0, 0, .4);
            }
            
            &.is-required {
                background-image: image-url('exclamation-sign.svg') !important;
                background-repeat: no-repeat;
                background-position: calc(100% - 10px) 10px;
                background-size: 20px;
                border: 2px solid #e99924 !important;
                padding-right: 38px;
            }
            
            &.has-success {
                background-image: image-url('ok.svg') !important;
                background-repeat: no-repeat;
                background-position: calc(100% - 10px) 10px;
                background-size: 20px;
                border: 2px solid #468847 !important;
                padding-right: 38px;
            }
            
            &.has-error {
                background-image: image-url('remove.svg') !important;
                background-repeat: no-repeat;
                background-position: calc(100% - 10px) 10px;
                background-size: 20px;
                border: 2px solid #b94a48 !important;
                padding-right: 38px;
            }
        }

        textarea {
            height: 125px;
            resize: vertical;
        }
        
        .left, .right {
            width: 49%;
        }
        
        .left {
            float: left;
            clear: left !important;
        }
        
        .right {
            float: right;
            clear: right !important;
            margin-right: 2px;
        }
        
        .name, .email, .message, .phone, .mobile, .arrival, .departure, .adults, .children {
            position: relative;
            clear: both;
            
            &:before {
                position: absolute;
                top: 10px;
                left: 10px;
                width: 20px;
                height: 20px;
                font-size: 20px;
                text-align: center;
            }
        }
        
        .mobile:before {
            font-size: 23px;
        }
        
        .children:before {
            font-size: 18px;
        }

        input[type=submit]{
            color: #fff;
            font-size: 18px;
            background-color: #e99924;
            border: 1px solid #fbfbfb;
            padding-left: 20px;
            padding-right: 20px;
            margin-right: 2px;
            margin-bottom: 2px;
            box-shadow: 2px 2px 0 rgba(0, 0, 0, .4);

            &:hover{
                background-color: #3c2b26;
                background-color: rgba(48, 35, 21, .8);
                border-color: #f9d9a4;
                color: #e99924;
            }
            
            &:focus {
                outline: none;
            }
        }
        
        
        // Override default CSS3 validation styles
        
        input[type=text],
        input[type=email],
        input[type=tel],
        input[type=number],
        textarea {
            &:required {
                background-image: image-url('exclamation-sign.svg');
                
                &:valid, &:invalid {
                    background-repeat: no-repeat;
                    background-position: calc(100% - 10px) 10px;
                    background-size: 20px;
                    border-color: #fff;
                    padding-right: 38px;
                }
                
                &:focus, &:valid:focus, &:invalid:focus {
                    padding-right: 38px;
                }
            
                &:valid {
                    background-image: image-url('ok.svg');
                    
                    &:focus {
                        border-color: #468847;
                    }
                }
                
                &:invalid {
                    background-image: image-url('remove.svg');
                    
                    &:focus {
                        border-color: #b94a48;
                    }
                }
            }
        
            &::-webkit-validation-bubble-message {
                background-color: #fbfbdb;
                
                & > div > div + * {
                    color: #3c3c3c;
                }
            }
            
            &::-webkit-validation-bubble-icon {
                display: none;
            }
            
            &::-webkit-validation-bubble-arrow {
                background-color: #fbfbdb;
            }
        }
    }
}
