#page-body .photo-gallery {
    background-color: transparent;
    
    .title {
        width: 370px;
        margin-bottom: 10px;
        
        h1 {
            color: #e99924;
            background: #3a0e15;
            background-color: rgba(58, 14, 21, 0.85);
            box-shadow: 3px 3px 0 rgba(48, 35, 21, .8);
            border: 1px solid #864a4c;
            border: 1px solid rgba(255, 155, 155, .45);
            border-radius: 6px;
            padding: 15px 28px;
            margin: 0;
        }
    }

    .wrapper {
        position: relative;
        width: 370px;
        height: auto;
        min-height: 210px;
        max-height: 470px;
        background: #927f6d;
        background-color: rgba(146, 127, 109, .85);
        background-image: image-url('photo_gal_bg.gif');
        box-shadow: 3px 3px 0 rgba(48, 35, 21, .8);
        border-radius: 6px;
    }

    .content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 15px 30px 15px 30px;
        word-wrap: break-word;
        overflow: hidden;

        .scrollable {
            height: 100%;
            overflow: auto;
        }
        
        .desc {
            color: #fff;
            text-shadow: 1px 1px #000;
        }
    }
}

