.rooms {
    min-width: 700px;
    background-color: rgba(245, 226, 146, .2);
    background-image: image-url('striped_bg.png');
    background-repeat: repeat;
    background-size: 6px 6px;
    
    .rooms-list, .image-gallery {
        width: 49%;
        max-width: 49%;
        height: 100%;
    }
    
    .rooms-list {
        margin-right: 10px;
    }
    
    .image-gallery {
        position: relative;
        height: auto;
        max-height: 390px;
        background: #8f8275;
        border-radius: 6px;
        box-shadow: 3px 3px 0 rgba(48, 35, 21, .8);
        overflow: hidden;
        
        .gallery {
            width: 100%;
            position: absolute;
            display: none;
            margin-bottom: 0;
            
            &.visible {
                position: relative;
                display: block;
            }
        }
        
        img {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        
        .carousel-control {
            width: 49px;
            height: 46px;
            border: 3px solid #fff;
            background: #333;
            background-color: rgba(0, 0, 0, .8);
            border-radius: 9999px;
            color: #fff;
            font-size: 30px;
            line-height: 41px;
            text-decoration: none;
            margin-top: -20px;
            opacity: .7;
            filter: alpha(opacity=7);
            
            &:hover {
                opacity: .98;
                filter: alpha(opacity=98);
            }
            
            &.left {
                padding-right: 3px;
                margin-left: 15px;
            }
            
            &.right {
                padding-left: 3px;
                margin-right: 15px;
            }
        }
    }

    h1 {
        color: #e99924;
        background: #3a0e15;
        background-color: rgba(58, 14, 21, 0.9);
        box-shadow: 3px 3px 0 rgba(48, 35, 21, .8);
        border: 1px solid #864a4c;
        border: 1px solid rgba(255, 155, 155, .45);
        border-radius: 6px;
        margin-top: 0;
        padding: 15px 28px;
    }

    .wrapper {
        position: relative;
        width: 100%;
        height: 320px;
        min-height: 320px;
        max-height: 570px;
        background: #927f6d;
        background-color: rgba(146, 127, 109, .9);
        box-shadow: 3px 3px 0 rgba(48, 35, 21, .8), inset 0 0 20px rgba(48, 35, 21, .8);
        border: 1px solid #c5b09d;
        border-radius: 6px;
    }
    
    .content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 20px 10px 20px 20px;
        overflow: hidden;

        .scrollable {
            height: 100%;
            overflow: auto;
            
            .mCSB_container {
                margin-right: 25px;
                
                &.mCS_no_scrollbar {
                    margin-right: 10px;
                }
            }
        }
    }
    
    ul.nav {
        margin: 0;
        margin-bottom: 1px;
        border-bottom: 0;
        
        li {
            margin-top: 0;
            
            &:first-child {
                a {
                    border-radius: 4px 4px 0 0;
                }
            }
            
            &:last-child {
                a {
                    border-radius: 0 0 4px 4px;
                }
            }
            
            a {
                background-color: #554540;
                background-color: rgba(0, 0, 0, .4);
                border: 1px solid #453530;
                border-radius: 0;
                color: #f5f4e6;
                text-decoration: none;
                margin-right: 0;
                
                &:hover {
                    border: 1px solid #453530;
                    background-color: #3c2b26;
                    background-color: rgba(53, 37, 32, .9);
                }
                
                &.active {
                    background-color: #3c2b26;
                    background-color: rgba(53, 37, 32, .9);
                }
            }
            
            .collapsible {
                display: none;
                text-align: justify;
                padding: 10px;
                
                &.open {
                    display: block;
                }
            }
        }
    }
}
