.rooms {
    min-width: 700px;
    background-color: rgba(245, 226, 146, .2);
    
    .rooms-list, .image-gallery {
        width: auto;
        max-width: 49%;
        height: 100%;
    }
    
    .rooms-list {
        float: left;
        margin-right: 10px;
    }
    
    .image-gallery {
        float: right;
        height: auto;
        max-height: 390px;
        background: #927f6d;
        background-color: rgba(146, 127, 109, .9);
        border-radius: 6px;
        box-shadow: 3px 3px 0 rgba(48, 35, 21, .8);
        overflow: hidden;
        
        img {
            width: 100%;
        }
    }

    h1 {
        color: #e99924;
        background: #8f0017;
        background-color: rgba(143, 0, 23, 0.9);
        box-shadow: 3px 3px 0 rgba(48, 35, 21, .8);
        border-radius: 6px;
        margin-top: 0;
        padding: 15px 28px;
    }

    .wrapper {
        position: relative;
        height: 320px;
        min-height: 320px;
        max-height: 570px;
        background: #927f6d;
        background-color: rgba(146, 127, 109, .9);
        box-shadow: 3px 3px 0 rgba(48, 35, 21, .8);
        border-radius: 6px;
        overflow: hidden;
    }
}
